.image div:last-of-type {
  display: flex;
  align-items: center;
	margin-left: 1rem;
  border-color: inherit;
  border-radius: 0.375rem;
  border: 1px solid;
  width: 30%;
}

.image div:last-of-type label {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin: 0;
  text-align: center;
}

.image div:last-of-type input {
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  width: 0.1px;
}
